    <!-- Footer Section -->
    <footer>
        <nav class="ftr">
            <ul>
                <li><a href="/on-the-menu">On the Menu</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
                <li><a href="/log-in">Log In</a></li>
            </ul>
        </nav>
        <div class="footer-logo">
            <a href="/" id="logo-link">
                <img src="/images/logo.png" alt="HOME" style="display: inline;">
            </a>
        </div>
        <div class="social-media">
            <!-- Add your social media links -->
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
        </div>
        <p>
            By submitting this assignment I declare that this assignment is my own work in accordance with
            the Seneca Academic Policy. No part of this assignment has been copied manually or
            electronically from any other source (including web sites) or distributed to other students.
        </p>
        <p class="copyright-text">
            © Claudia Suarez, csuarez-socorro@myseneca.ca, WEB322 Winter 2024
        </p>
    </footer>