<!-- Navigation Bar/Header -->
<header>
    <nav class="header">
        <div class="logo">
            <a href="/" id="logo-link">
                <img src="/images/logo.png" alt="HOME">
            </a>
        </div>
        <ul>
            <li><a class="link link--nav" href="/mealkits/on-the-menu">On the Menu</a></li>
            <li><a class="link link--nav" href="/sign-up">Sign Up</a></li>
            <li><a class="link link--nav" href="/log-in">Log In</a></li>
        </ul>
    </nav>
</header>