<section id="hero">
    <div class="hero-content">
        <img src="/images/hero1.jpg" alt="Hero Image">
        <div class="text-overlay">
            <p>Hello <span class="font-bold text-lime-500 shadow-md"><%= values.firstName %> <%= values.lastName %></span> <br> WELCOME TO</p>
            <h1><span class="magic-text">TACO 'BOUT IT</span></h1>
        </div>
    </div>
</section>