<!-- Hero Section -->
    <section id="hero">
        <div class="hero-content">
            <img src="/images/hero.jpg" alt="Hero Image">
            <div class="text-overlay">
                <h1>So Delicious, You Can't Help but Taco 'Bout It</h1>
                <p>We craft the recipes, deliver the ingredients, and you make the <span class="magic-text">MAGIC</span>!</p>
            </div>
        </div>
    </section>

    <!-- Selling Feature Section -->
    <!-- Horizontal Line -->
    <hr class="fade" />
    <h1>Discover Our Signature Selling Features!</h1>
    <!-- Horizontal Line -->
    <hr class="fade" />

    <section id="selling-features">
        <!-- Selling Feature 1 -->
        <div class="selling-feature">
            <img src="/images/ingredients.jpg" alt="ingredients">
            <div class="feature-content">
                <h2>Personalized Dietary Plans</h2>
                <p>Tailor your meal kits to your dietary preferences, whether it's vegetarian, gluten-free, or high-protein. Enjoy a variety of options that fit your lifestyle.</p>
            </div>
        </div>
    
        <!-- Selling Feature 2 -->
        <div class="selling-feature">
            <img src="/images/recipes.jpg" alt="recipes">
            <div class="feature-content">
                <h2>Chef-Curated Recipes</h2>
                <p>Experience culinary excellence with our chef-curated recipes. Each meal kit is crafted by our expert chefs, ensuring a delightful and gourmet dining experience at home.</p>
            </div>
        </div>

        <!-- Selling Feature 3 -->
        <div class="selling-feature">
            <img src="/images/cooking.jpg" alt="cooking">
            <div class="feature-content">
                <h2>Effortless Cooking</h2>
                <p>Enjoy delicious meals without the hassle. Each kit includes simple recipes, pre-portioned ingredients, and step-by-step instructions, making cooking a breeze.</p>
            </div>
        </div>
    </section>

    <!-- Featured Meal Kits Section -->
    <!-- Horizontal Line -->
    <hr class="fade" />
    <h1>Featured Meal Kits</h1>
    <!-- Horizontal Line -->
    <hr class="fade" />

    <section id="featured-meal-kits">
        <% allMeals.forEach(meal => { %>
            <div class="meal-kit">
            <%- include("../partials/mealkit", { meal: meal }) %>
        </div>
        <% }); %>
    </section>

