<body>
    <div class="min-h-screen flex flex-col justify-center sm:px-5">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div
                class="absolute inset-0 bg-gradient-to-r from-amber-500 to-lime-400 shadow-lg transform -skew-y-6 
                sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
            </div>
            <div class="text-white relative px-6 py-12 bg-gradient-to-l from-amber-300 to-white shadow-lg sm:rounded-3xl sm:p-20">

                <div class="text-center pb-8">
                    <h1 class="text-6xl font-bold text-green-500"><%= title %></h1>
                </div>

                <form id="logInForm" method="post" action="/log-in">  
                    <label class="text-green-800 text-3xl" for="email">Email address:</label>
                    <input
                            class="shadow appearance-none border rounded w-full py-3 px-4 text-2xl text-gray-800 
                            leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="text" placeholder="yourName@example.com" name="email" value="<%= values.email %>">
                            <% if(validationMessage.email) { %>
                                <span class="text-red-500 text-base"><%= validationMessage.email %></span> <br>
                            <%  }   %>
                    <label class="mt-2 text-green-800 text-3xl" for="password">Password:</label>
                    <input
                            class="shadow appearance-none border rounded w-full py-3 px-4 text-2xl text-gray-800 
                            leading-tight focus:outline-none focus:shadow-outline"
                            id="password" type="password" placeholder="Enter password" name="password">
                            <% if(validationMessage.password) { %>
                                <span class="text-red-500 text-base"><%= validationMessage.password %></span> <br>
                            <%  }   %>
  
                    <label class="mt-2 text-green-800 text-3xl" for="role">Role:</label>
                    <div class="shadow appearance-none rounded w-full py-3 px-4 text-2xl text-gray-800 
                    leading-tight focus:outline-none focus:shadow-outline flex gap-10">

                        <div class="inline-flex items-center text-green-600 text-2xl font-bold">
                            <input type="radio" id="roleClerk" name="role" value="clerk" <% if(values.role === 'clerk') { %> checked <% } %>
                            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 
                            text-gray-900 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 
                            before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity 
                            checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-15 mr-2"
                            >Data Entry Clerk
                            <input type="radio" id="roleCustomer" name="role" value="customer" <% if(values.role === 'customer') { %> checked <% } %>
                            class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-full border border-blue-gray-200 
                            text-gray-900 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 
                            before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity 
                            checked:border-gray-900 checked:before:bg-gray-900 hover:before:opacity-15 mr-2 ml-6"
                            >Customer
                        </div>
                
                    </div>       
                          

                    <div>
                        <button type="submit"
                            class="flex mt-6 w-full justify-center rounded-md border border-transparent 
                            bg-green-500 py-3 px-6 font-semibold text-3xl text-white shadow-lg 
                            hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 
                            focus:ring-offset-2">Log in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
    
